/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Style*/
body {
	height: 2000px;
	font: 13px/28px
			NotoSans,
			Arial,
			"Arial Unicode MS",
			sans-serif;
	line-height: 1,5em;
	letter-spacing: 0.7px;
	background-image: url(bg3.png);
	color: rgb(252,251,253);
}

.container {
	width: auto;
	max-width: 800px;
	min-width: 380px;
	margin: auto;
	background-color: rgb(6,6,6);
}

.container a {
	text-decoration: none;
	color: lightblue;
	letter-spacing: 1px;
}

.container a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.header,
.navbar{
	position: fixed;
	top: 50px;
	width:800px;
	height:auto;
}

.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header 
.judul {
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 10px;
	position: fixed;
	top: 10px;
}

.navbar {
	background-color: #423e3d;
	text-align: center;
	border-top:solid 1px lightblue;
	border-bottom:solid 1px lightblue;
}
.navbar ul li {
	display: inline-block;
	margin-right: 50px;
}


/*
.hero {
	width: 700px;
	height: 280px;
	
	background-position: 0 -100px;
	border-top:solid 3px rgb(244,18,6);
	border-bottom:solid 3px rgb(244,18,6);
}
*/
.content {
	margin-top: 200px;
	padding: 20px;
}

.content h2 {
	font-size: 28px;
	font-weight: bold;
}

.content 
.penulis {
	font-size: 12px;
	margin-top: -5px;

}

.content p {
 	margin-bottom: 20px;
 	font-size: 14px;
}

.kotak div{
	display: inline-block;
	border: solid 1px lightblue;
	margin: 17px;
	height: auto;
}
.kotak h3{
	padding-bottom: 17px;
	font-size: 20px;
	font-weight: bold;
}
.kotak1,
.kotak2 {
	background-color: #333;
	height: auto;
}
.kotak1 {
	width: auto;
	padding: 17px;	
}

.kotak a{
	display: block;
}

.kotak2 {
	width: auto;
	padding: 17px;
}

.footer {
	margin-bottom: 0;
	background-color: #333;
	padding: 10px;
	line-height: 17px;
	border-top:solid 1px lightblue;	
}

.footer p{
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer 
.copy {
	color: #eaeaea;
	text-align: center;
	font-size: 11.7px;
}

.footer span{
	display: block;
}

